header {
	display: flex;
	align-items: center;
	height: var(--header-height);
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
	background-color: #4d65b4;
	padding: 0 1rem;
	gap: 0.5rem;
}

header img {
	width: 3rem;
	height: auto;
}

.red-text {
  color: red;
}

.syllabus-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	height: calc(100vh - var(--header-height));
}

.syllabus-column {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
	gap: 2rem;
}

.column-format {
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
}

.parsed-column {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	overflow: hidden;
  padding: 10px;
}

.results-box {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	overflow-y: auto;
	width: 100%;
}

.item-card {
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
}

.top-card {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.icon {
	width: 40px;
	height: 40px;
}

.course-row {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.course {
	font-size: 1.2rem;
	font-weight: bold;
}

.date {
	color: #888;
	font-size: 0.85rem;
}

.title {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 4px;
}

.bubble {
	padding: 5px 10px;
	border: 2px solid black;
	border-radius: 25px;
	white-space: nowrap;
}

.homework {
	background-color: #8fd3ff;	
}

.exam {
	background-color: #f04f78;
}

